{% extends "layout.html" %}
{% block content %}
<h2>Mes Albums</h2>
<form action="/create_album" method="POST" class="d-flex gap-2 mb-3">
    <input type="text" name="name" class="form-control" placeholder="Nouvel album">
    <button class="btn btn-success">+</button>
</form>
<ul class="list-group">
    {% for album in albums %}
    <li class="list-group-item d-flex justify-content-between">
        <a href="/album/{{ album.id }}">{{ album.name }}</a>
        <a href="/delete_album/{{ album.id }}" class="text-danger">Supprimer</a>
    </li>
    {% endfor %}
</ul>

<hr>
<h3>Partagés avec moi</h3>
<ul class="list-group">
    {% for album in shared %}
    <li class="list-group-item">
        <a href="/album/{{ album.id }}">{{ album.name }} (de {{ album.user.username }})</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}